.footer-wrapper {
  height: 200px;
  width: 100%;
  background-color: rgba(205, 233, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-content {
  text-align: center;
  color: white;
}
